$color-gray:rgb(236, 236, 236);
$color-white:white;
$font-size-normal: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;
@font-face {
    font-family: iransans;
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}

@mixin link {
    text-decoration: none;
}

@mixin menu-trans {
    transition: 0.2s background-color;
    -webkit-transition: 0.2s background-color;
    -moz-transition: 0.2s background-color;
    -ms-transition: 0.2s background-color;
    -o-transition: 0.2s background-color;
}

@mixin border-radius($param...) {
    border-radius: $param;
    -webkit-border-radius: $param;
    -moz-border-radius: $param;
    -ms-border-radius: $param;
    -o-border-radius: $param;
}

@mixin btn-border-none {
    border: none;
    outline: none;
}

ul,
li {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

body {
    font-size: $font-size-normal;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.custom-container {
    width: 97%;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
}